# API Keys (Provide at least one, default is GEMINI_API_KEY)
GEMINI_API_KEY=
# Alternative: OPENAI_API_KEY=your_openai_api_key_here

# App Configurations
PORT=8000
HOST=127.0.0.1
DB_PATH=./data/bi_analyst.db
VECTOR_DB_PATH=./data/vector_db
